NEXT_PUBLIC_API_URL = ${process.env.NEXT_PUBLIC_API_URL}/api/v1

NEXT_PUBLIC_PAYPAL_CLIENT_ID = AVswCL11GjsPViCr50ojjbD8MR5rA-c9aJe_Z2gqKbesdsa9wftYSC_soMsITBccidloPD-aCYR9e7g4kwS7

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = pk_test_51NFvq6ArRmO7hNaVcPS5MwczdEtM4fghyEMOclovghfA0k5LtJTxhtzKZ2SKim3p8qmvssQ7j7bREjoRRmHB9Gvz8n8Dfm00UOo9bZYg

NEXT_PUBLIC_AUTH0_DOMAIN=dev-y5ajrsaxihu4afh4bv4.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=XSxm4hfhKusXhUAQ5zrCfrHyI2bscBpHoNn
PORT=3000