@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 164 88% 43%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}

@keyframes zebra-move {
  0% { background-position: 0 0; }
  100% { background-position: 40px 0; }
}

.smooth-zebra {
  background: linear-gradient(45deg, #12eb12 25%, #a0e8a0 25%, #a0e8a0 50%, #b6fcb6 50%, #b6fcb6 75%, #a0e8a0 75%, #a0e8a0 100%);
  background-size: 20px 20px;
  animation: zebra-move 1.5s linear infinite;
}

.gradient-text {
  background: linear-gradient(to right, #10b981, #0aeeb9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.text-primary {
  color: #10b981;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    height: var(--height);
  }
  50% {
    opacity: 0.6;
    height: calc(var(--height) * 0.6);
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-20px) translateX(10px);
  }
  50% {
    transform: translateY(0) translateX(20px);
  }
  75% {
    transform: translateY(20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

